<img class='list_flag-main' src={{flags.svg}} />
<span class='list_title-main'> {{name.official}}</span>
<p class='list_text-key'> Capital: <span class='list_text-valeu'>{{capital}}</span></p>
<p class='list_text-key'> Population: <span class='list_text-valeu'>{{population}}</span></p>
<p class='list_text-key'>Languages:{{#each languages}}
    <span class='list_text-valeu'>{{this}}</span>{{/each}}
</p>